body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #D3D3D3;
  font-size: 16px;
}

h1 {
  font-size: 2em;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 25px;
}

h2 {

}

p {
  font-size: 1em;
  line-height: 150%;
}

#picture-section {
  margin: -2px;
  height: 75vh;
}

.profile-pic {
  width: 100%;
}


#box-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: 0;
}

.container {
  height: 100vh;
}

.box {
  width: 50%;
  height: 50vw;
  position: relative;
}

.name-card {
  width: 100%;
  padding: 25px 15px;
  position: relative;
}

.name-card-container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin: auto;
}

.last-box {
  width: 100%;
  height: 30vw;
}

.green {
  background-color: #1A535C;
}

.cream {
  background-color: #F7FFF7;
}

.yellow {
  background-color: #FFE66D;
}

.turquoise {
  background-color: #4ECDC4;
}

.red {
  background-color: #FF6B6B;
}

.rectangle-button {
  border: 1px solid #D3D3D3;
  background-color: transparent;
  color: #D3D3D3;
  font-size: 1em;
  padding: 15px;
  margin: 15px;
  margin-left: 0;
  border-radius: 0;
}

.box-name {
  margin: auto;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
}

.icon {
  width: 30%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.icon-container {
  position: absolute;
  margin: auto;
  top: 50%;
  transform: translate(0, -50%);
}

.icon-last {
  width: 20%;
  display: block;
  margin: auto;
}

.icon-container-last {
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}






