body {
  font-family: 'Raleway', sans-serif;
  font-weight: 400;
  color: #D3D3D3;
  font-size: 16px;
  margin: 0;
  box-sizing: border-box;
}

h1 {
  font-size: 1.5em;
  font-weight: 800;
  line-height: 150%;
  padding-left: 5%;
  margin-bottom: 5%;
}

h2 {

}

p {
  font-size: 1em;
  line-height: 150%;
  padding: 0 5%;
}

#picture-section {
  margin: 0px;
  height: 60vh;
  background-image: url("images/girl.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.ellipsis {
  position: absolute;
  top: 0.5%;
  right: 1.5%;
}

.arrow {
  margin: 2%;
}

#box-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  margin: -1px;
  width: 100%;
}

.container {
  height: 100vh;
  width: 100%;
}

.box {
  width: 50%;
  height: 50vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-self: center;
}

.name-card {
  width: 100%;
  /*padding: 10% 0;*/
  position: relative;
  height: 70vw;
}

.name-card-container {
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
  margin: auto;
}

.last-box {
  width: 100%;
  height: 30vw;
}

.green {
  background-color: #1A535C;
}

.cream {
  background-color: #F7FFF7;
}

.yellow {
  background-color: #FFE66D;
}

.turquoise {
  background-color: #4ECDC4;
}

.red {
  background-color: #FF6B6B;
}

.rectangle-button {
  border: 1px solid #D3D3D3;
  background-color: transparent;
  color: #D3D3D3;
  font-size: 1em;
  padding: 15px;
  margin: 15px;
  margin-left: 0;
  border-radius: 0;
}

.button-container {
  padding-left: 5%;
}

.box-name {
  margin: auto;
  text-align: center;
  font-size: 1em;
  font-weight: 700;
}

.icon {
  width: 30%;
  display: block;
  margin: auto;
  margin-bottom: 10px;
}

.icon-last {
  width: 15%;
  display: block;
  margin: auto;
}

.icon-container-last {
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

@media screen and (min-width: 460px) {
  #picture-section {
    height: 70vh;
  }

  .name-card {
    height: 50vw;
  }
}

@media screen and (min-width: 650px) {
  #picture-section {
    height: 65vh;
  }

  .box {
    width: 33.3%;
    height: 40vw;
  }

  .name-card {
    width: 66.6%;
  }

  .icon-last {
    width: 30%;
  }

  .last-box {
    width: 33.3%;
    height: 40vw;
  }
}



@media screen and (min-width: 900px) {
  .container {
    display: flex;
    flex-direction: row-reverse;
  }

  #picture-section {
    width: 40%;
    height: 100vh;
  }

  #box-section {
    width: 60%;
  }

  .box {
    width: 33.3%;
    height: 33.4vh;
  }

  .name-card {
    width: 66.6%;
  }

  .icon-last {
    width: 30%;
  }

}




