body {
  box-sizing: border-box;
  color: #D3D3D3;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 400;
  margin: 0;
}

h1 {
  font-size: 1.5em;
  font-weight: 600;
  line-height: 150%;
  margin-bottom: 4%;
  padding-left: 5%;
}

p {
  font-size: 1em;
  line-height: 150%;
  padding: 0 5%;
}

/*Picture Section*/
.arrow {
  margin: 2%;
}

.ellipsis {
  position: absolute;
  right: 1.5%;
  top: 2%;
}

#picture-section {
  align-items: center;
  background-image: url("images/girl.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 60vh;
  justify-content: space-between;
  margin: 0px;
  width: 100%;
}

/*Box Section*/
#box-section {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  margin: -1px;
  width: 100%;
}

.box {
  align-content: center;
  align-self: center;
  display: flex;
  flex-direction: column;
  height: 50vw;
  justify-content: center;
  width: 50%;
}

.box-name {
  font-size: 1em;
  font-weight: 600;
  margin: auto;
  text-align: center;
}

.button-container {
  padding-left: 5%;
}

.container {
  height: 100vh;
  width: 100%;
}

.cream {
  background-color: #F7FFF7;
}

.green {
  background-color: #1A535C;
}

.icon {
  display: block;
  margin-bottom: 10px;
  margin: auto;
  width: 30%;
}

.icon-container-last {
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}

.icon-last {
  display: block;
  margin: auto;
  width: 15%;
}

.last-box {
  height: 30vw;
  width: 100%;
}

.name-card {
  height: 70vw;
  position: relative;
  width: 100%;
}

.name-card-container {
  margin: auto;
  position: absolute;
  top: 50%;
  transform: translate(0, -50%);
}

.red {
  background-color: #FF6B6B;
}

.rectangle-button {
  background-color: transparent;
  border-radius: 0;
  border: 2px solid #D3D3D3;
  color: #D3D3D3;
  font-size: 1em;
  margin: 15px 15px 15px 0;
  padding: 12px;
}

.turquoise {
  background-color: #60C4BD;
}

.yellow {
  background-color: #FFE877;
}

/*Start Media Queries*/
@media screen and (min-width: 460px) {
  .name-card {
    height: 50vw;
  }

  #picture-section {
    height: 70vh;
  }

}

@media screen and (min-width: 650px) {
  .box {
    height: 40vw;
    width: 33.3%;
  }

  .icon-last {
    width: 30%;
  }

  .last-box {
    height: 40vw;
    width: 33.3%;
  }

  .name-card {
    width: 66.6%;
  }

  #picture-section {
    height: 65vh;
  }
}

@media screen and (min-width: 850px) {
  .box {
    height: 33.4vh;
    width: 33.3%;
  }

  .container {
    display: flex;
    flex-direction: row-reverse;
  }

  .icon-last {
    width: 30%;
  }

  .name-card {
    width: 66.6%;
  }

  #box-section {
    width: 60%;
  }

  #picture-section {
    height: 100vh;
    width: 40%;
  }
}




